/* Обнуление стилей */
*,*:before,*:after{
  padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {text-decoration: none;}
ul li ol{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
html,body{
	height: 100%;
	width: 100%;
	line-height: 1;
  font-family: "Montserrat";
	font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 17px;
  color: #37373F;
}
/*--------------------*/

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 1920px;
}  
._container{
  max-width: 1140px;
  margin: 0 auto;
}
._conditions{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 588px;
  height: 40px;
}
._conditions_text{
  height: 20px;

  font-weight: 500;
  line-height: 20px;

  color: #37373F;
}
/*---------Хэдер-----------*/
.header{
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  z-index: 50;
}
.header__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  
  position: absolute;
  min-height: 50px;
  width: 1140px;
  left: 390px;
  top: 25px;
}
/*---------HELYFLY 2-----------*/
.header__logo-link{
  width: 129px;
  height: 23px;
}
.header__logo{
  height: 22.84800148010254px;
  width: 128.39500427246094px;
  left: 0.4959716796875px;
  top: 0.152099609375px;  
}
/*----------FRAME 8---------*/
.header__contact{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  
  width: 184px;
  height: 18px;
}
/*----------Телефон---------*/
.contact__text{
  width: 66px;  
  color: #B3B3B3;
}
/*----------Номер телефона---------*/
.contact__number{
  width: 108px;
}
/*---------БЛОК1-----------*/
.offer{
  position: relative;
  width: 1920px;
  height: 840px;
}
.offer__container{
  position: absolute;
  width: 100%;
  height: 100%;
}
.offer__container_title{
  position: absolute;

  width: 887px;
  height: 89px;
  left: 390px;
  top: 285px;

  font-size: 40px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  z-index: 4;
}

.offer__container_title_color{
 color: #FC9B09;
}
.offer__container_button{
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 3;
  width: 304px;
  height: 68px;
  left: 390px;
  top: 424px;  
  
  box-sizing: border-box;
  
  border: 3px solid #FFFFFF;
  filter: drop-shadow(0px 4px 70px rgba(255, 255, 255, 0.7)) drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.25));
  border-radius: 3px;
}
.offer__container_button_reservation{
  position: absolute;
  height: 21px;
  width: 230px;
  margin: 0px 37px;
  
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;

  color: #FFFFFF;
}  
.offer__container_bg{
  position: relative;
  width: 100%;
  height: 100%;   
}
.offer__container_bg-color{
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%; 
  background-color: black;
  opacity: .5;
}
.offer__container_image{
  position: absolute;

  width: 100%;
  height: 100%; 
  background-image: url(/image/helimain.jpg);
}
/*---------БЛОК2-----------*/
.block2{
  width: 1140px;
  height: 640px;
  display: flex;
  align-items:center;
}
.block2__container{
  width: 1140px;
  height: 500px;
  margin: 0px 390px;
  display: flex;
  align-items:center;
  justify-content:flex-start;
}
/*---------БЛОК2 ЛЕВЫЙ-----------*/
.block2__container_left{
width: 588px;
height: 100%;
}
.block2__title{
  width: 460px;
  height: 90px;
  margin-bottom: 18px;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  
  color: #37373F;
}
.block2__description{
  width: 549px;
  height: 73px;
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 26px;
}
/*---------БЛОК2 УСЛОВИЯ ПРЕДЛОЖЕНИЯ-----------*/
.block2__offer-conditions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 15px;
  top: 202px;

  width: 588px;
  height: 205px;
}
.clock__detail{
  width: 40px;
  height: 37px;
  background-image: url(/image/Clock.svg);
}
.foto__detail{
  width: 35px;
  height: 28px;
  background-image: url(/image/foto.svg);
}
.location__detail{
  width: 33px;
  height: 33px;
  background-image: url(/image/location.svg);
}
.chat__detail{
  width: 31px;
  height: 31px;
  background-image: url(/image/chat.svg);
}
.clock__text{
  width: 186px;
}
.foto__text{
  width: 186px;
}
.location__text{
  width: 230px;
}
.chat__text{
  width: 270px;
}
/*---------РАЗДЕЛИТЕЛЬ В БЛОК2-----------*/
.block2__container_line{
  width: 587px;
  height: 0px;
  left: 1px;
  top: 432px;
  margin: 25px 0px 18px 0px;
  
  border: 0.5px solid #C7C7C7;
}
/*---------RATING-----------*/
.block2__ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;
  
  width: 438px;
  height: 40px;
  left: 0px;
  top: 450px;
}
.ratings__cup {
  width: 32px;
  height: 35.8px;
  background-image: url(/image/Groupcup.svg);
}
.ratings__titile {
  width: 268px;
  height: 38px;

  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;

  color: #37373F;
}
.ratings__stars {
  width: 118px;
  height: 17px;

  display: flex;
  justify-content:flex-end;
  gap: 7px;
}
/*---------БЛОК2 ПРАВЫЙ-----------*/
.block2__container_right{
  width: 552px;
  height: 100%;
}
.block2__image{
  position: relative;
  width: 100%;
  height: 374px;
  border-radius: 4px;
  background-image: url(/image/kiss.jpg);
}
.block2__container_triangle{
  position: absolute;
  right: 29px;
  bottom: 29px;
  width: 16px;
  height: 23px;
  background-image: url(/image/triangl.svg);
}
/*---------Подвал-----------*/
.footer{
  width: 1920px;
  height: 70px;  
  display: flex;
  flex-direction: column;
  align-items:center;  
}
.footer__line{
  width: 1139px;
  height: 0px;
  border: 0.5px solid #C7C7C7;
}
.footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 828px;
  
  width: 1920px;
  height: 70px;
  
  background: #FAF9F8;
}
.footer__content__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  
  width: 256px;
  height: 46px;
}
.content__container_copyright {
  width: 256px;
  height: 18px; 
  
  color: #B3B3B3;
}
.content__container_techsupport {
  width: 240px;
  height: 18px;
  
  color: #B3B3B3;
}